/**
 * @brief Noviny2, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Pierre Van Glabeke
 * @copyright https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 */
.news {
	margin-bottom: 40px !important;
	display:block;
}
.news h2 {
	font-family: Helvetica,FreeSans,Arial,"Liberation Sans","Nimbus Sans L",sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	border-bottom: 1px solid #e9dfc6;
	color: #8c6f4a;
}
#sidebar div.news h3 {
	font-size: 1.1em;
	margin: 0;
}
#sidebar div.news p {
	margin-bottom: 10px;
	line-height: 1.2;
}